/* Font face */

@font-face {
  font-family: 'proxima_nova_altregular';
  src: url('../fonts/proximanovaaltregular-webfont.eot');
  src: url('../fonts/proximanovaaltregular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanovaaltregular-webfont.woff2') format('woff2'),
       url('../fonts/proximanovaaltregular-webfont.woff') format('woff'),
       url('../fonts/proximanovaaltregular-webfont.ttf') format('truetype'),
       url('../fonts/proximanovaaltregular-webfont.svg#proxima_nova_altregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  outline: none;
  z-index: 1;
}
body {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  color: #02044a;
  font-family: "proxima_nova_altregular", sans-serif;
  background-color: #F7F7FA;
}
body:before{
  content: ' ';
    position: absolute;
    left: 0;
    top: calc(50% - 325px);
    width: 100%;
    height: 710px;
    z-index: -1;
    background: #E8E8EF;
}
body:after{
  content: ' ';
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  height: 0;
  border-bottom: 200px solid #F7F7FA;
  border-left: 625px solid transparent;
  border-right: 625px solid transparent;
  z-index: 0 !important;
}
a:hover {
  text-decoration: none;
}
.header_sec {
  width: 100%;
  height: 164px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dedede;
  background-color: #02044a;
  padding-top: 54px;
  padding-bottom: 15px;
}
.header_sec .navbar-expand-md .navbar-nav li a {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-left: 8px;
  padding: 0 18px;
}
.header_sec .navbar-nav li a:hover,
.header_sec .navbar-nav li.active a {
  color: #fff;
  opacity: 0.5;
}
.header_sec .navbar-nav li a span {
  font-size: 10px;
    line-height: 12px;
    text-align: right;
    position: absolute;
    top: 0;
}
.main-width {
  position: relative;
  margin: 0 auto;
  max-width: 745px;
}
.navbar {
  position: relative;
  margin: 0 auto;
  max-width: 625px;
}
.timer-sec {
  min-height: 445px;
}
.tabbable-position {
  position: relative;
  width: 100%;
  max-width: 625px;
  bottom: 42px;
  height: 44px;
  margin: 0 auto 18px;
}
.tabbable-position-nxt {
  top: 30px;
  bottom: 0px;
  height: 107px;
}
.nav-tabs {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 21px;
  border-bottom: none;
  height: 77px;
  background: #ffffff;
  box-shadow: 0px 5px 6px rgba(51, 51, 80, 0.18);
  border-radius: 6px;
}
.nav-tabs .nav-item {
  display: inline-block;
  padding: 0 24px;
}
.nav-tabs .nav-link {
  color: #02044a;
  opacity: 0.24;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding: 0.5rem 0rem;
}
.nav-tabs .nav-link.active {
  color: #02044a;
  opacity: 1;
  border: unset;
}
.nav-tabs .nav-link.active:before  {
  content: "";
  position: absolute;
  bottom: 0;
  width: 24px;
  border-bottom: 3px solid #02044a;
}
.nav-tabs .nav-link.active:before .green {
  content: "";
  position: absolute;
  bottom: 0;
  width: 24px;
  border-bottom: 3px solid #024A46;
}
.progress {
  width: 270px;
  height: 270px !important;
  float: left;
  line-height: 270px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
  border-radius: 50%;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgb(2 4 74 / 12%);
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 140px;
  border-bottom-right-radius: 140px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 140px;
  border-bottom-left-radius: 140px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #fff;
  color: #02044a;
  line-height: 0;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress .progress-value {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.progress .progress-value span {
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
}

.progress .progress-value p {
  color: #02044a;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
}

.progress .progress-value strong {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: rgba(2, 4, 74, 0.8);
}

.progress.blue .progress-bar {
  border-color: #02044a;
}

.progress.blue .progress-bar-green {
  border-color: #024A46;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
  border-color: #fdba04;
}

.progress.yellow .progress-right .progress-bar {
  animation: loading-3 1.8s linear forwards;
}

.progress.yellow .progress-left .progress-bar {
  animation: none;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
  }
}
.btns-pr {
  position: absolute;
  right: -45px;
}

.btn.rounded {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #02044a;
  padding: 16px 60px;
  background: #02044a;
  box-shadow: 0px 5px 6px rgba(51, 51, 80, 0.18);
  border-radius: 6px;
}
.todo-box {
  padding: 15px;
  margin: 18px auto;
  height: 70px;
  width: 100%;
  max-width: 625px;
  background: #ffffff;
  box-shadow: 0px 5px 6px rgba(51, 51, 80, 0.18);
  border-left: 6px solid transparent;
  border-radius: 6px;
}
.todo-box.active {
  border-left: 6px solid #02044a;
}

.todo-box .container {
  position: absolute;
}
.todo-box h6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.footer_sec {
  color: #fff;
  height: 101px;
  background-color: #02044a;
}
.footer-row {
  height: 101px;
  max-width: 625px;
  margin: 0 auto;
}
.footer_sec .nav-item {
  list-style: none;
}
.footer_sec .nav-link {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 0 15px;
}
.footer_sec .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 24px;
  border-bottom: 3px solid #fff;
}
.footer-row h6 {
  font-size: 18px;
  font-weight: 400;
}
.feature-sec {
  padding: 48px 60px;
  background-color: #fff;
  box-shadow: 0px 5px 6px rgba(51, 51, 80, 0.18);
  border-radius: 18px 18px 0 0;
}
.head {
  position: relative;
}
.head:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: -4px;
  left: -28px;
  background: rgba(2, 4, 74, 0.06);
  border-radius: 120px;
}
.head h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding: 0 0 10px;
}
.head h3:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 24px;
  border-bottom: 3px solid #02044a;
}
.feature-sec p {
  color: rgba(2, 4, 74, 0.72);
}
.feature-sec p strong {
  color: #02044a;
}
.feature-sec ul li::marker {
  content: "\2713";
  position: absolute;
  font-weight: bold;
}


/* Hide the browser's default checkbox */
.checkbox-main{
  margin: 0 0 0 24px;
}
.checkbox-main input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 24px;
  width: 24px;
  background-color: rgb(2 4 74 / 18%);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox-main:hover input ~ .checkmark {
  background-color: rgb(2 4 74 / 18%);
}

/* When the checkbox is checked, add a blue background */
.checkbox-main input:checked ~ .checkmark {
  background-color: #02044a;
}
.checkbox-main input:checked ~ .checkmark-green {
  background-color: #024A46;
}
.checkbox-main input[type="checkbox"] + span + h6 {
  margin: 0 0 0 10px;
}
.checkbox-main input:checked + span + h6 {
  text-decoration: line-through;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
}

/* Show the checkmark when checked */
.checkbox-main input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-main .checkmark:after {
  left: 8px;
  top: 4px;
  width: 7px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 1024px){
  body:after{
    border:  none;
  }
  body:before , body:after {
    content: unset;
  }
  .header_sec {
    height: 104px;
    padding: 24px 0px 60px 0px
  }
  .nav-tabs {
    height: 57px;
  }
  .nav-tabs .nav-item {
    padding: 0 14px;
  }
  .nav-tabs .nav-link,
  .footer_sec .nav-link {
    font-size: 14px;
  }
}


@media screen and (max-width: 767px){
  .header_sec{
    height: 128px;
  }
  .header_sec .navbar {
    z-index: 9;
  }
  .header_sec .navbar button{
    outline: none;
  }
  .header_sec .navbar button .navbar-toggler-icon strong{
    font-size: 0;
  }
  .header_sec .navbar button[aria-expanded="true"] .navbar-toggler-icon{
    background: none;
    color: #fff;
    top: 6px;
    right: 6px;
  }
  .header_sec .navbar button[aria-expanded="true"] .navbar-toggler-icon strong{
    font-size: 23px;
  }
  .header_sec .navbar-collapse.show, .header_sec .navbar-collapse.collapsing{
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    left: 0px;
    top: 75px;
    height: 100%;
  }
  .header_sec ul.navbar-nav {
    background: #fff;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
  }
  .header_sec .navbar-expand-md .navbar-nav li a{
    padding: 25px 0;
    color: #02044A;
    margin: 0;
    position: relative;
  }
  body:after{
    border:  none;
  }
  .header_sec {
    height: 104px;
    padding: 24px 0px 60px 0px
  }
  .nav-tabs {
    height: auto;
    padding: 0;
  }
  .nav-tabs .nav-item {
    padding: 0 10px;
  }
  .nav-tabs .nav-link,
  .footer_sec .nav-link {
    font-size: 14px;
  }
  .feature-sec {
    padding: 37px 38px;
  }
  .tabbable-position {
    max-width: 94%;
    bottom: 28px;
    z-index: 0;
  }
  .btns-pr {
    position: relative;
    right: 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .btn.rounded {
    font-size: 16px;
    width: 150px;
    padding: 15px 30px;
    margin: 0 8px 0 !important;
  }
  .todo-box {
    height: 55px;
    max-width: 94%;
  }
  .todo-box h6 {
    font-size: 14px;
  }
  .footer-row h6 {
    font-size: 14px;
  }
  .progress .progress-value span {
    font-weight: bold;
    font-size: 48px;
    line-height: 58.46px;
  }
  .progress .progress-value strong {
    font-size: 20px;
  }
  .progress .progress-value p {
    font-size: 10px;
    line-height: 13px;
  }
  .checkmark {
    height: 20px;
    width: 20px;
  }
  .checkbox-main .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
  }
  .navbar-brand {
    margin-right: 0;
  }
  button:focus {
    border: unset;
    outline: unset;
  }
  .navbar-toggler-icon {
    position: absolute;
    top: 6px;
    right: 12px;
  }
  .navbar-collapse {
    position: relative;
  }
  .progress {
    width: 240px;
    height: 240px !important;
    line-height: 240px;
  }
}

.input{
  width: 100%;
  border-radius: 4px;
  font-size: 22px;
  padding: 10px 0px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  background-color: #e0e0de;
  text-align: center;
}

.modal-title {
  text-align: center;
  margin-bottom: 10px
}


/* Welcome page css start */

.welcome-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 725px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #02044A;
}

.wel-body:after, .wel-body:before {
  content: unset;
}
@media screen and (max-width: 1024px){
  .welcome-bg {
    max-width: 100%;
  }
}
.btn.rounded{
  width: 200px;
}
